@font-face {
  font-family: "kohinoor-m";
  src: url('fonts/Kohinoor-Light.otf') format('opentype');
}

@font-face {
  font-family: "kohinoor-b";
  src: url('fonts/Kohinoor-Bold.otf') format('opentype');
}

.transition, p, ul li i:before, ul li i:after {
  transition: all 0.25s ease-in-out;
}

.flipIn, h1, ul li {
  animation: flipdown 0.5s ease both;
}

.no-select, h2 {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guidelines {
  min-height: 0;
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: transparent;
  max-width: 80%;
  padding: 30px;
}

@media (max-width: 550px) {
  .guidelines {
    box-sizing: border-box;
    transform: translate(0, 0);
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    left: 0;
  }
}

.table-bordered td{
  padding: 0.5rem !important;
}

.rules h1, h2 {
  color: #640a26;
}

.rules h1 {
  text-transform: uppercase;
  font-family: "kohinoor-b", sans-serif;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 3px;
  font-weight: 100;
}

.rules h2 {
  font-size: 28px;
  font-family: "kohinoor-b", sans-serif;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  padding: 2rem 0;
  margin-bottom: 1rem;
}

.rules h3 {
  font-size: 18px;
  line-height: 34px;
  font-family: "kohinoor-b", sans-serif;
  letter-spacing: 1px;
  display: block;
  margin: 0;
  color: #640a26;

}
.rules p {
  color: black;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: 1px;
  position: relative;
  overflow: hidden;
  max-height: 1200px;
  opacity: 1;
  transform: translate(0, 0);
  margin-top: 14px;
  z-index: 2;
}

.rules ul {
  list-style: none;
  perspective: 900;
  padding: 0;
  margin: 0;
}
.rules ul li {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 18px;
  border-top: 1px solid var(--clr-light);
}
.rules ul li:nth-of-type(1) {
  animation-delay: 0.5s;
}
.rules ul li:nth-of-type(2) {
  animation-delay: 0.75s;
}
.rules ul li:nth-of-type(3) {
  animation-delay: 1s;
}
.rules ul li:last-of-type {
  padding-bottom: 0;
}
.rules ul li i {
  position: absolute;
  transform: translate(-6px, 0);
  margin-top: 16px;
  right: 0;
}
.rules ul li i:before, ul li i:after {
  content: "";
  position: absolute;
  background-color: var(--clr-light);
  width: 3px;
  height: 9px;
}
.rules ul li i:before {
  transform: translate(-2px, 0) rotate(45deg);
}
.rules ul li i:after {
  transform: translate(2px, 0) rotate(-45deg);
}
.rules ul li input[type=checkbox] {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
  opacity: 0;
}
.rules ul li input[type=checkbox]:checked ~ p {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, 50%);
}
.rules ul li input[type=checkbox]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
}
.rules ul li input[type=checkbox]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }
  5% {
    opacity: 1;
  }
  80% {
    transform: rotateX(8deg);
  }
  83% {
    transform: rotateX(6deg);
  }
  92% {
    transform: rotateX(-3deg);
  }
  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}

.ewlink {
  text-decoration: none;
  font-weight: bolder;
  color: var(--clr-light);
}