@font-face {
    font-family: "kohinoor-m";
    src: url('fonts/Kohinoor-Light.otf') format('opentype');
}

.song {

  box-sizing: border-box;

  margin: 0;

  min-height: 100vh;

  display: flex;

  justify-content: center;

  align-items: center;

  font-family: 'kohinoor-m', sans-serif;

  font-size: 12px;

}

.bg-container{
  width: fit-content;
}

.player-container {

  height: 550px;

  width: 400px;

  background: #e7e7e7;

  border-radius: 20px;

  box-shadow: 0 15px 30px 5px rgba(0, 0, 0, 0.3);

}

.img-container {

  width: 300px;

  height: 300px;

  position: relative;

  top: -50px;

  left: 50px;

  display: flex;

  justify-content: center;

  align-items: center;

  transition: transform 500ms ease-in-out;

}


.img-container:hover{
  transform: scale(1.1);
}

.img-container img {

  height: 0;

  width: 0;

  opacity: 0;

  object-fit: cover;

  border-radius: 20px;

  box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.5);

  transition: .5s;

}

.img-container img.active {

  transition: .5s;

  opacity: 1;

  width: 100%;

  height: 100%;

}

h2 {

  font-size: 25px;

  text-align: center;

  margin: 0;
  
  padding: 0.5rem 0;

}

h3 {

  font-size: 20px;

  text-align: center;

  font-weight: 400;

  margin: 5px 0 0;

}


/* Progress */

.progress-container {

  background: #fff;

  border-radius: 5px;

  cursor: pointer;

  margin: 40px 20px;

  height: 4px;

  width: 90%;

}

.progress {

  background: #ff0303;

  border-radius: 5px;

  height: 100%;

  width: 0%;

  transition: width 0.1s linear;

}

.duration-wrapper {

  position: relative;

  top: -25px;

  display: flex;

  justify-content: space-between;

}


/* Controls */

.player-controls {

  position: relative;

  top: -15px;

  left: 120px;

  width: 200px;

}

.fas {

  font-size: 30px;

  color: rgb(129, 129, 129);

  margin-right: 30px;

  cursor: pointer;

  user-select: none;

}

.fas:hover {

  filter: brightness(80%);

}

.main-button {

  font-size: 40px;

  position: relative;

  top: 3px;

}


/* Media Query: iPhone (Vertical) */

@media screen and (max-width: 400px) {


  .player-container {

    width: 90vw;

  }

  .img-container {

    left: 29px

  }

  h2 {

    font-size: 20px;

  }

  h3 {

    font-size: 15px;

  }

  .player-controls {

    top: -10px;

    left: 100px;

  }

}