@font-face {
    font-family: 'kohinoor-m';
    src: url('fonts/Kohinoor-Light.otf') format('opentype');
}

.students {
    font-family: 'kohinoor-m', sans-serif;
}

.note{
    margin-top: 1rem;
    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 0;
}

.tabs-nav {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
    margin: 0;
}

.tabs-nav li {
    list-style: none;
}

.tabs-nav li:first-child a {
    border-right: 0;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.tabs-nav li:last-child a {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.students a {
    background: #eaeaed;
    border: 1px solid #cecfd5;
    color: #7a0f2e;
    display: block;
    font-weight: 600;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
}

.tab-active a {
    background: #7a0f2e;
    border-bottom-color: transparent;
    color: #fff;
    cursor: default;
}

.tabs-stage {
    border-top: 0;
    clear: both;
    padding: 24px 30px;
    padding-bottom: 0;
    position: relative;
    top: -1px;
}

.rwd-table {
    margin: auto;
    min-width: 300px;
    max-width: 100%;
    border-collapse: collapse;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #7a0f2e;
    color: #fff;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #eaeaed;
}

.rwd-table th {
    display: block;
}

.rwd-table td {
    display: block;
}

.rwd-table td:first-child {
    margin-top: .5em;
}

.rwd-table td:last-child {
    margin-bottom: .5em;
}

.rwd-table td:before {
    content: attr(data-th) ": ";
    font-weight: bold;
    width: 120px;
    display: inline-block;
    color: #000;
}

.rwd-table th,
.rwd-table td {
    text-align: left;
}

.rwd-table {
    color: #333;
    border-radius: .4em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    padding: .5em 1em;
}

@media screen and (max-width: 601px) {
    .rwd-table tr:nth-child(2) {
        border-top: none;
    }
}

@media screen and ((max-width: 576px)) {
    .rwd-table tbody .label{
        display: none;
    }
}

@media screen and (min-width: 600px) {
    .rwd-table tr:hover:not(:first-child) {
        background-color: #d8e7f3;
    }

    .rwd-table td:before {
        display: none;
    }
    
    .rwd-table th,
    .rwd-table td {
        display: table-cell;
        padding: .25em .5em;
    }

    .rwd-table th:first-child,
    .rwd-table td:first-child {
        padding-left: 0;
    }

    .rwd-table th:last-child,
    .rwd-table td:last-child {
        padding-right: 0;
    }

    .rwd-table th,
    .rwd-table td {
        padding: 1em !important;
    }
}


/* THE END OF THE IMPORTANT STUFF */

/* Basic Styling */

.students {
    display: block;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 2.4em;
    color: #7a0f2e;
}

h3 {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 1.5em;
    color: #cecece;
}

h3:before {
    content: "\25C0";
    position: absolute;
    left: -50px;
    -webkit-animation: leftRight 2s linear infinite;
    animation: leftRight 2s linear infinite;
}

h3:after {
    content: "\25b6";
    position: absolute;
    right: -50px;
    -webkit-animation: leftRight 2s linear infinite reverse;
    animation: leftRight 2s linear infinite reverse;
}

@-webkit-keyframes leftRight {
    0% {
        -webkit-transform: translateX(0)
    }

    25% {
        -webkit-transform: translateX(-10px)
    }

    75% {
        -webkit-transform: translateX(10px)
    }

    100% {
        -webkit-transform: translateX(0)
    }
}

@keyframes leftRight {
    0% {
        transform: translateX(0)
    }

    25% {
        transform: translateX(-10px)
    }

    75% {
        transform: translateX(10px)
    }

    100% {
        transform: translateX(0)
    }
}