@charset "UTF-8";
@font-face {
  font-family: "kohinoor-m";
  src: url("fonts/Kohinoor-Light.otf") format("opentype");
}

.container td {
  font-weight: normal;
  font-size: 1em;
  color: black;
  -webkit-box-shadow: 0 2px 2px -2px #0e1119;
  -moz-box-shadow: 0 2px 2px -2px #0e1119;
  box-shadow: 0 2px 2px -2px #0e1119;
}

.container {
  text-align: left;
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  display: table;
  padding: 0 0 8em 0;
}

.container td,
.container th {
  padding: 1rem;
  border: 1px solid gray;
}

/* Background-color of the all rows */
.container tr {
  background-color: transparent;
}

.container th {
  background-color: #7a0f2e;
}

.container td:first-child {
  color: black;
}

.container tr:hover {
  background-color: transparent;
  -webkit-box-shadow: 0 6px 6px -6px #0e1119;
  -moz-box-shadow: 0 6px 6px -6px #0e1119;
  box-shadow: 0 6px 6px -6px #0e1119;
}

.container td:hover {
  background-color: transparent;
  font-weight: bold;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  transform: translate3d(6px, -6px, 0);

  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

@media (max-width: 800px) {
  .container td:nth-child(4),
  .container th:nth-child(4) {
    display: none;
  }
}

.float-area {
  position: relative;
  left: 240px;
  top: 100px;
  height: 65px;
  display: flex;
  flex-direction: column;
  
}

@media (max-width: 568px) {

  .float-area{
    display: none;
  }
  
}
.floating-img {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  width: 80px;
  height: 80px;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
