@charset "UTF-8";
@font-face {
  font-family: "kohinoor-m";
  src: url("fonts/Kohinoor-Light.otf") format("opentype");
}
table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
  
}
.schedule {
  text-align: left;
  overflow: hidden;
  margin: 0 auto;
  width: 80%;
  padding: 0 0 8em 0;
}
.schedule th{
  text-align: center;
  color: white;
  padding: 1rem;
}

.schedule td {
  padding: 1rem;
  font-weight: normal;
  font-size: 1em;
  color: black;
}

/* Background-color of the all rows */
.schedule tr {
  background: transparent;
}

.schedule th {
  background: linear-gradient(rgb(100, 10, 38,0.8), #2b0520);
}

.schedule td:hover {
  background-color: transparent;
  font-weight: bold;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  transform: translate3d(6px, -6px, 0);
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
}

/* @media (max-width: 800px) {
  .schedule td:nth-child(4),
  .schedule th:nth-child(4) {
    display: none;
  }
} */

.float-area {
  position: relative;
  left: 240px;
  top: 100px;
  height: 65px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 568px) {
  .float-area{
    display: none;
  }
  
}
.floating-img {
  transform: translateY(-10%);
  animation: floater 1.5s infinite;
  transition: ease 0.5s;
  width: 80px;
  height: 80px;
}

@keyframes floater {
  0% {
    transform: translateY(-10%);
    transition: ease 0.5s;
  }
  50% {
    transform: translateY(10%);
    transition: ease 0.5s;
  }
}
